@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-lightGrey: oklch(0.641 0.021 253.11);
  --color-darkBlue: oklch(0.218 0.045 244.84);
  --color-veryDarkBlue: oklch(0.098 0.016 245.81);
  --color-orange: oklch(0.61 0.27 45)
}

@theme {
  --font-overpass: "Overpass", sans-serif
}

